<%= render 'partial/header' %>
<div class="container ytl-main">
  <div class="ytl-main-title">
    <div class="ytl-main-title-head">Hello, Stranger!</div>
    <div class="ytl-main-title-desc">This is a simple app to saving internet by listening only sound from youtube movies. Download mobile
      version of this application and listen music from youtube on your smartphone with locked screen. In alpha version
      registration is closed but you can still use the application without registering.
      If the application was useful for you, you can transfer donation by clicking the button below.<br><br>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="38S2RUZZE6K48" />
        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
      <br>
    </div>
  </div>
  <div id="ytl-player-m" class="ytl-section"
       <% if @get %> style="display: block"
       <% else %> style="display: none"
       <% end %>>
    <input type="hidden" id="param_check" value="<%= @get %>">
    <div class="ytl-section-title">Currently played</div>
    <div class="ytl-player"
         <% if @get %> rails-data-id="<%= @music.youtube_id %>"
         <% end %>>
      <div class="ytl-song-loading">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
        </div>
      </div>
      <div class="ytl-player-title">
        <% if @get %> <%= @music.file_title %>
        <% end %></div>
      <div class="ytl-play-button" id="CP"><i class="fa fa-play" aria-hidden="true"></i></div>
      <div class="ytl-time-axis" id="waveform"></div>
      <div class="ytl-volume-axis">
        <input id="ex4" type="text" data-slider-min="0.00" data-slider-max="1.00" data-slider-step="0.01" data-slider-value="0.50" data-slider-orientation="vertical" data-slider-tooltip="hide"/>
      </div>
    </div>
  </div>
  <div class="ytl-section">
    <div class="ytl-section-title">Top 10 search</div>
    <div class="ytl-slider">
      <div id="coverflow">
        <ul class="flip-items">
          <% Search.all.order(searched_count: :desc).limit(10).each do |song| %>
              <li yt-id="<%= song.youtube_id %>">
                <div class="ytl-lasted">
                  <div class="ytl-slider-image" style="background: url(<%= song.thumbnail_url %>) no-repeat center center;"></div>
                  <div class="ytl-slider-text">
                    <div class="ytl-slider-text-title"><%= song.file_title %></div>
                    <div class="ytl-slider-text-desc"><%= song.author_name %></div>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="ytl-section">
    <div class="ytl-section-title">Global lasted listened</div>
    <div class="ytl-slider" style="margin-bottom: 50px;">
      <div id="coverflow2">
        <ul class="flip-items">
          <% Music.all.limit(20).each do |song| %>
              <li yt-id="<%= song.youtube_id %>">
                <div class="ytl-lasted">
                  <div class="ytl-slider-image" style="background: url(<%= song.thumbnail_url %>) no-repeat center center;"></div>
                  <div class="ytl-slider-text">
                    <div class="ytl-slider-text-title"><%= song.file_title %></div>
                    <div class="ytl-slider-text-desc"><%= song.author_name %></div>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<a href="/audio/<%= @request_yt_id %>.mp3" class="hidden-download" download="<%= @data["title"] %>"></a>
<%= render 'partial/footer' %>