<%= render 'partial/header' %>
<div class="ytl-privacy-content" xmlns="http://www.w3.org/1999/html">
  <p>External scrpits used in ytlistener application.</p>
  <p>Jquery-flipster -
    <a href="https://github.com/drien/jquery-flipster">https://github.com/drien/jquery-flipster</a></p>
  <p>Wawesurfer -
    <a href="https://wavesurfer-js.org/">https://wavesurfer-js.org/</a>
  </p>
  <p>Bootstrap - <a href="http://getbootstrap.com/">http://getbootstrap.com/</a></p>
  <p>Fontawesome - <a href="http://fontawesome.io/">http://fontawesome.io/</a></p>
  <p>Youtube-dl - <a href="https://rg3.github.io/youtube-dl/">https://rg3.github.io/youtube-dl/</a></p>
  <hr>
  This application is only for listening sound from youtube and not serves for illegal file sharing.
</div>
<%= render 'partial/footer' %>