<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header ytl-l-h">
      <a class="navbar-brand" href="/">
        <div class="ytl-logo"></div>
        <div class="ytl-title">Listener</div>
      </a>
    </div>
    <div class="navbar-header ytl-l-s">
      <div class="ytl-search"><input id="ytl-main-search" type="text" placeholder="Search...">
        <div class="ytl-search-result">
          <ul id="ytl-sr-append">

          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-header ytl-l-m">
      <div class="ytl-menu">
        <div class="ytl-menu-switch"><i class="fa fa-th" aria-hidden="true"></i></div>
        <a href="https://www.youtube.com/watch?v=<%= @request_yt_id %>">
          <div class="ytl-menu-download" type_p='true'>Youtube.com</div>
        </a>
      </div>
    </div>
  </div>
</nav>