@import "jquery.flipster.min";

body {
  padding-top: 70px;
  background-color: #262C2E !important;
}
.hidden-download {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 70px;
    display: block;
}
.navbar {
  min-height: 70px !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid #a9a9a9 !important;
  .navbar-brand {
    line-height: 40px;
    height: 70px;
    padding: 0px;
    width: 100%;
  }
  .ytl-l-h {
    width: 170px;
  }
  .ytl-l-s {
    width: calc(100% - 420px);
  }
  .ytl-l-m {
    width: 250px;
  }
  .ytl-logo {
    background: url(/assets/yt.png);
    background-size: cover;
    display: block;
    height: 70px;
    width: 110px;
    float: left;
  }
  .ytl-title {
    float: right;
    line-height: 71px;
    margin-left: -15px;
    font-size: 2.0rem;
  }
  .ytl-search {
    height: 40px;
    margin-top: 15px;
    padding: 0px 25px;
    input[type="text"] {
      width: 100%;
      height: 100%;
      padding: 0px 15px;
      font-size: 15px;
      border: 0px solid;
      border-bottom: 1px solid #a9a9a9;
      outline-color: #a9a9a9;
    }
  }
  .ytl-menu-switch {
    width: 70px;
    float: left;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    color: #777;
    cursor: pointer;
  }
  .ytl-menu-download {
    width: 180px;
    float: right;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #db2b28;
    cursor: pointer;
  }
}

.ytl-footer {
  bottom: 0px;
  width: 100%;
  height: 50px;
  border-top: 2px solid #db2b28;
  background-color: #262c2e;
  line-height: 50px;
  text-align: center;
  p {
    display: inline;
    padding: 5px 40px;
    border-radius: 5px;
    font-weight: 300;
    color: #a9a9a9;
    font-size: 1.2rem;
  }
}

.ytl-main {
  background-color: #1B2022;
  min-height: 700px;
  .ytl-main-title {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 1px;
    color: #fff;
    .ytl-main-title-head {
      line-height: 50px;
      font-size: 2rem;
    }
    .ytl-main-title-desc {
      margin: 0px 20px 20px;
      display: block;
      position: relative;
      min-height: 90px;
    }
  }
  .ytl-section-title {
    height: 40px;
    line-height: 50px;
    position: relative;
    margin: 50px auto;
    width: 90%;
    color: #a9a9a9;
    border-bottom: 1px solid;
    font-weight: 300;
    font-size: 20px;
  }
  .ytl-section:hover {
    background-color: #151718;
    .ytl-section-title {
      color: #ffffff !important;
    }
    .ytl-player-title {
      color: #ffffff;
    }
    .ytl-player {
      .ytl-play-button {
        border-color: #ffffff;
        i {
          color: #ffffff;
        }
      }
    }
    .ytl-play-button:hover {
      border-color: #db2b28;
    }
  }
  .ytl-slider {
    height: 190px;
    width: 90%;
    position: relative;
    margin: 20px auto;
    margin-bottom: -50px;
    .flipster__item__content {
      cursor: pointer;
    }
    .ytl-lasted {
      width: 280px;
      height: 150px;
      background-color: rgba(0, 0, 0, .7);
      .ytl-slider-image {
        width: 100%;
        height: 100px;
        background-image: url(/assets/example/example.jpeg);
        background-size: cover;
      }
      .ytl-slider-image-2 {
        width: 100%;
        height: 100px;
        background-image: url(/assets/example/example2.jpeg);
        background-size: cover;
      }
      .ytl-slider-image-3 {
        width: 100%;
        height: 100px;
        background-image: url(/assets/example/example3.jpg);
        background-size: cover;
      }
      .ytl-slider-text {
        width: 100%;
        height: 50px;
        padding: 5px 10px 0px;
        .ytl-slider-text-title {
          font-weight: 600;
          line-height: 20px;
          color: #ffffff;
          display: inline-block;
          overflow: hidden;
          height: 20px;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
        .ytl-slider-text-desc {
          color: #777;
          display: inline-block;
          overflow: hidden;
          height: 20px;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
          margin-top: -5px;
        }
      }
    }
  }
}

.ytl-player {
  width: 85%;
  position: relative;
  margin: 0px auto;
  height: 140px;
  margin-bottom: -50px;
  .ytl-song-loading {
    height: 110px;
    position: absolute;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.0);
    z-index: 9;
    border-radius: 4px;
    line-height: 110px;
    text-align: center;
    font-size: 40px;
    color: #a9a9a9;
    cursor: not-allowed;
  }
  .ytl-player-title {
    color: #a9a9a9;
    line-height: 45px;
    margin-top: -35px;
    font-size: 17px;
  }
  #waveform {
    height: 70px;
    width: calc(100% - 150px);
    margin-left: 30px;
    float: left;
  }
  .ytl-volume-axis {
    width: 20px;
    height: 70px;
    float: right;
    .slider.slider-vertical {
      height: 68px;
      width: 20px;
    }
    .slider-handle {
      background-color: #db2b28;
      background-image: -webkit-linear-gradient(to bottom, #db2b28 0%, #db2b28 100%);
      background-image: linear-gradient(to bottom, #db2b28 0%, #db2b28 100%);
    }
    .slider-track {
      background-image: -webkit-linear-gradient(to bottom, #E57373 0%, #E57373 100%);
      background-image: linear-gradient(to bottom, #E57373 0%, #E57373 100%);
    }
  }
  .ytl-play-button {
    width: 70px;
    height: 70px;
    border: 3px solid #a9a9a9;
    border-radius: 70px;
    float: left;
    cursor: pointer;
    i {
      text-align: center;
      line-height: 65px;
      width: 100%;
      color: #a9a9a9;
      font-size: 30px;
      padding-left: 8px;
    }
  }
}

.ytl-privacy-content {
  width: 70%;
  text-align: center;
  position: relative;
  margin: 100px auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  padding: 20px;
  min-height: 500px;
}

.spinner {
  margin: 20px auto 0px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: relative;
}


.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}

@media (max-width: 770px) {
  .navbar {
    .ytl-l-m {
      width: 250px;
      float: right;
      margin-top: -70px;
    }
    .ytl-l-s {
      width: calc(100% - 420px);
      display: none;
    }
  }
}