.ytl-search-result {
  ul {
    padding: 0px;
    border-top: 0px;
    margin-top: -1px;
    .ylr-sr-item {
      list-style: none;
      background-color: #fff;
      height: 61px;
      position: relative;
      border: 1px solid #ededed;
      border-bottom: 0px;
      width: 100%;
      cursor: pointer;
      .ytl-sr-image {
        width: 70px;
        height: 60px;
        background-size: contain !important;
        margin-left: 10px;
        float: left;
        margin-right: 10px;
      }
      .ytl-sr-title {
        line-height: 25px;
        font-size: 1.6rem;
        padding-top: 5px;
        text-transform: capitalize;
        color: #777;
        width: calc(100% - 100px);
        font-weight: 500;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        float: right;
        white-space: nowrap;
        margin-right: 10px;
      }
      .ytl-sr-description {
        font-size: 1.2rem;
        text-transform: capitalize;
        color: #b3b3b3;
        width: calc(100% - 100px);
        font-weight: 500;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        float: right;
        white-space: nowrap;
        margin-right: 10px;
        line-height: 22px;
      }
    }
    .ylr-sr-item:hover{
      background-color: #9e9e9e;
      .ytl-sr-title,.ytl-sr-description {
        color: #ffffff;
      }
    }
  }
}