<!DOCTYPE html>
<html>
<head>
  <title>YTListen - youtubeplaysound</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag '/favicon.ico' %>
  <meta name="description" content="Play only sound from youtube" />
  <meta name="google-site-verification" content="Kqx9w62dD9EssE_FpycY2S5uht9fQuvfce0qN5GynF8" />
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
